{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:11000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:11001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;",
        "FUNCTIONS_WORKER_RUNTIME": "powershell",

        "TABELAS_ENDPOINT": "http://127.0.0.1:10002/devstoreaccount1",
        "TABELAS_MODO_AUTH": "SharedKey",
        "TABELAS_CONTA": "devstoreaccount1",
        "TABELAS_CHAVE": "Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==",

        "EMAIL_MODO": "Arquivo",

        "ADMIN_EMAIL": "admin@exemplo.com"
    }
}
